<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <appSettings>

  </appSettings>
  <!--Подключение к БД-->
  <connectionStrings>

  </connectionStrings>
  <system.web>
    <authentication mode="Windows"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <compilation targetFramework="4.0" debug="true"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime maxRequestLength="500000" executionTimeout="1600" requestLengthDiskThreshold="500000000" requestValidationMode="2.0"/>
	<customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="32000" maxQueryString="32000" maxAllowedContentLength="500000000"/>
      </requestFiltering>
    </security>
    <handlers>
      <!-- ***OR*** Enable BrowserLink will run after one refresh with only this!-->
      <add name="Browser Link for HTML" path="*.html" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>